<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Simple Text Editor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/style.css">
</head>
<body class="light">
	<h1>
		<img src="/static/favicon.ico">
		Simple Text Editor	
	</h1>
	
	<form id="editor" action="/save_file" method="post">
		<nav>
			<button type="button" onclick="new_file()">New</button>
			<button type="button" onclick="open_file()">Open</button>
			<button type="submit">Save</button>
		</nav>
		
		<label for="name">File Name:</label>
		<input name="name" placeholder="Untitled File">
		
		<textarea name="content"></textarea>
	</form>
	
	<script src="/static/script.js"></script>
</body>
</html>
	